
    @media screen and (max-width:768px){
        .grid{
          margin:0%;
          display: grid;
          grid-template-columns: 100%;  
          grid-template-rows: repeat(4,auto);
          grid-template-areas:
          "header"
          "main"
          "sec"
          "footer"
          ;
        }

        .titulo{
          height: 200px;
          width: 100%;
          h1{
            font-size: 40px;
          }
          h2{
            font-size: 20px;
          }
        }
    
        .navegador {
          display: flex;
          flex-direction: column;
          height: 20%;
          background-color: $colorPrimario;
          ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            background-color: $colorPrimario;
            }
      
         
        }
     
        .principal{
            flex-direction: row ;
            align-items: center;
            padding: 10px;
    
        }
        .footer{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            p{
              font-size: 12px;
            }
            
        }
      
        .imgAdolfo{
          height: 40px;
        }

       
    }