.titulo{
    background-image: url(../img/haley-shives-56fTVrbfjjQ-unsplash.jpg);
    background-size: cover;
    height: 300px;
    text-align: center;
    h1{
      color:$colorBlanco;
      font-family: $tipoTit;
      font-size: 60px;
      position: relative;
      padding: 5% 3% 3% 3%;
      text-align: center;
  }
  h2{
    color:$colorBlanco;
    font-family: $tipoTit;
    display: block;
    text-align: center;

}
}

p{
    font-family: $tipoP;
    font-size: $parrafo;
    text-decoration: none;
    color: black
  }

  .cardHome a{
    @extend p;
    color: $colorNegro;
    font-weight: 400;
    &:hover{
      color: $colorBlanco;
    }
    
  }

  .p2{
    @extend p;
    text-align: center;
  }

  .strong{
    font-family: $tipoP;
    font-size: $parrafo;
  }

  .nosotros{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  
  .subtitulo, h3{
    text-align: center;
    margin-top: 15%;
    font-family: $tipoTit;
    color: $colorNegro;
    font-size: $tamTitSeccion;
  }
  
  .tituloProducto{
    font-family: $tipoP;
    font-size: 40p;
    margin-top: 5%;
  }
  
  .descripcion{
    display: flex;
    justify-content: center;
  }

  .card-title{
    font-family: $tipoTit;
    font-size: $parrafo;
    a{
      text-decoration: none;
      color: black;
      &:hover{
        color: $colorPrimario;
      }
    }
    
  }

  .card-text {
    font-family: $tipoP;
    font-size: $parrafo;
    
  }
  
  .cardHome a{
    font-family: $tipoTit;
    font-size: 16px;
    
  }