*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import "variables.scss";
@import "textos.scss";
@import "navbar.scss";
@import "media.scss";
@import "main.scss";
@import "forms.scss";
@import "footer.scss";
  
  
  
  

  